@media only screen and (max-width:1100px){
    body{
        --color-primary:rgb(210, 0, 0);
        --color-white:rgb(255, 255, 255, 1);
        --color-black:rgb(0, 0, 0);
        background: url(backgroundv3.png),linear-gradient(to right, rgb(210, 0, 0) ,rgb(0, 0, 0), rgb(0, 210, 0));
        background-size: cover;
    }

    .ChristmasList{
        height: 170vw;
        width: 95%;
        margin-top: 2vw;
        background-color: var(--color-white);
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        border-color: black;
        border-width: 0.7vw;
        border-style: solid;
        overflow-y: scroll;
    }

    .ChristmasList::-webkit-scrollbar {
        width: 0px;
    }


    .title{
        color: var(--color-black);
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 1vw;
        margin-bottom: 1vw;
        font-size: 4.5vw;
        font-weight: 500px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: underline;   
    }
    
    .export{
        margin-top: 2vw;
        margin-bottom: 1vw;
        font-size: 3vw;
        cursor: pointer;
        text-align: right;
        float: right;
        margin-right: 5vw;
    }

    .subtitle{
        color: var(--color-black);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.2vw;
        font-size: 3vw;
        font-weight: 500px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .lineBreak{
        width:100%;
        height:4px;
        margin-top: 1vw;
        margin-bottom: 1vw;
        background-color:#000000;
        border:none;
    }
    
    table{
        height: 200vw;
        width: 95%;
        padding-top: 0.2vw;
        padding-bottom: 2vw;
        background-color: var(--color-grey);
        margin-left: auto;
        margin-right: auto;
    }

    td{
        height: 3vw;
        border-bottom: 1px solid #000000; 
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2.7vw;
    }

    th{
        height: 5vw;
        border-bottom: 1px solid #000000; 
        font-size: 3vw;
        text-decoration: underline;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .time-show{
        margin: 0.1vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        vertical-align: middle;
        }
    
    .time-show div{
        background-color: rgb(120,0, 0);
        margin-top: 0.5vw;
        margin-left: auto;
        margin-right: auto;
        height: 5vw;
        width: 18vw;
        border-radius: 20vw;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        opacity: 1;
    }
    
    .time-show div span{ /* Timer Text */
        font-family: sans-serif;
        display: block;
        font-size: 2vw;
        opacity: 0.9;
        font-weight: 1000;
    }
    
    .time-show div p{ /*Title text*/
        font-family: sans-serif;
        color: aliceblue;
        margin-left: 1.2vw;
        text-transform:capitalize;
        font-size: 1.6vw;
        letter-spacing: 1px;
        font-weight: 1000;
    }

}